* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #1D1D1D;
    color: white;
}

#logo{
    justify-content: center;
    text-align: center;
    display: flex;
    width: 70px;
    height: auto;
}

main {
    width: 100%;
}

section {
    margin-bottom: 40px;
}

.gif-container {
    width: 100%;
    overflow: hidden;
}

.gif-container img {
    width: 100%;
    height: auto;
}

.rounded-background {
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.btn {
    background-color: #E10600;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF4500;
}

footer {
    background-color: #222;
    padding: 20px 0;
}

footer p, footer .nav-link {
    color: #fff;
}

footer img#logo {
    margin: 0 auto;
    display: block;
}



@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }

    .rounded-background {
        padding: 10px;
    }

    footer {
        text-align: center;
    }

    footer ul {
        margin-top: 10px;
    }
}
